.sticky .sticky__wrapper {
background-color: rgba(255,255,255,0.9);
}

.logo {
padding-top: 5px;
padding-bottom: 5px;
}

.foto-investigador {
  	position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 34%;
  img {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

.slider-title-overlay {
.sppb-sp-slider-title {
  background-color: rgba(0,0,0,0.3);
    padding: 10px;
}
}